<%- include("partials/header.ejs") -%>

<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold title">Uh Oh!</h1>
  <h3 class="err-message"><%= error %> </h3>
  <div class="col-lg-6 mx-auto">
    <form class="mainText" action="/failure" method="post">
      <button type="submit" class="btn btn-danger btn-lg px-4 gap-3 btn-go">Try Again</button>
    </form>
  </div>
</div>

<%- include("partials/footer.ejs") -%>
